.image-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: spacing(1);
  width: 100%;
}

.image-gallery--big-right {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);

  grid-template-areas:
    "main main . ."
    "main main . .";

  .image-gallery__image-cont:nth-child(1) {
    grid-area: main;
  }
}

.image-gallery--big-left {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);

  grid-template-areas:
    ". . main main"
    ". . main main";

  .image-gallery__image-cont:nth-child(1) {
    grid-area: main;
  }
}

.image-gallery__image-cont {
  aspect-ratio: 1;
  position: relative;
}
