@use "@/styles/vars";

.body {
  width: 100%;
  height: 400px;
  background-color: red;
}

.week {
  padding: vars.spacing(2);
  border-radius: vars.spacing(0.5);
  border: 1px solid var(--border-primary);
  background-color: var(--background-secondary);
  margin-bottom: vars.spacing(2);
}

.weekHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: vars.spacing(2);

  p {
    margin: 0 !important;
  }

  button {
    padding: vars.spacing(0.5);
    border-radius: vars.spacing(0.5);
    width: max-content;
  }
}

.aside,
.week {
  :global(.larger) {
    margin-bottom: vars.spacing(2);
  }
}
