<div class="cont cont--spacing">
  <div class="inner">
    <div class="c-2">
      <div class="home__about-rusck__image-cont">
        <%- await include('../../components/img.ejs', { src:
        "/assets/svante-karin.png", alt: "Alt 1", }); -%>
      </div>
    </div>
    <div class="c-2 home__about_rusck__text-cont">
      <h1 class="home__about_rusck__header">Familjen Rusck</h1>
      <p class="home__about_rusck__description">
        Brusckvallen ägs och drivs av familjen Rusck. Vi har skapat en plats där
        våra gäster kan uppleva den unika skönheten i Brusckvallarna. Hos oss
        får du inte bara en mysig stuga, utan också en personlig och minnesvärd
        upplevelse. Välkommen till Brusckvallen, vårt smultronställe som vi
        gärna delar med dig.
      </p>
      <p class="larger">
        <a href="#">Boka din resa</a>
      </p>
    </div>
  </div>
</div>
