<div class="cont home__ask-question">
<div class="inner">

<div class="c-2">
<h1 class="home__ask-question__heading">Har du en fråga?</h1>
<p>Fyll i formuläret här bredvid om du har frågor kring bokning, tillgänglighet, priser eller något annat relaterat till stugan Brusckvallen i Bruksvallarna. Vi återkommer till dig så snart som möjligt med svar!</p>
</div>

<div class="c-2">

<form class="home__ask-question__form">
  <label>Namn:</label>
  <input placeholder="Johan Andersson" />
  <label>E-post:</label>
  <input placeholder="johan.andersson@gmail.com" />
  <label>Medelande:</label>
  <textarea></textarea>
  <button>Skicka medelande</button>
</form>

</div>

</div>
</div>
