<div class="cont home__stugan__top-area">
  <div class="inner">
    <div class="c-3 home__stugan__main-text">
      <h1 class="home__stugan__header">Stugan</h1>
      <p class="home__stugan__description">
        Brusckvallen har ett naturnära läge nära Ramundberget och Funäsdalen,
        med längdspåren i Bruksvallarna precis runt hörnet. Här finns fjällen
        alltid nära, oavsett om du vill ge dig ut på äventyr eller bara njuta av
        lugnet i naturen.
      </p>
      <p class="larger">
        <a href="#">Läs mer</a>
      </P>
    </div>
  </div>
</div>
<div class="cont cont--spacing-bottom">
  <div class="inner">
    <div class="c-4 home__stugan__images-cont">
      <%- await include("../../components/image-gallary.ejs", { 
        type: "big-left",
        images: [
          {
            src: "",
            alt: ""
          },
          {
            src: "",
            alt: ""
          },
          {
            src: "",
            alt: ""
          },
          {
            src: "",
            alt: ""
          },
          {
            src: "",
            alt: ""
          },
        ]
      }) %>
      <%- await include("../../components/image-gallary.ejs", { 
        images: [
          {
            src: "",
            alt: ""
          },
          {
            src: "",
            alt: ""
          },
          {
            src: "",
            alt: ""
          },
          {
            src: "",
            alt: ""
          },
        ]
      }) %>
    </div>
  </div>
</div>
