a {
  color: inherit;
}

body {
  p {
    margin: 0;

    &.larger {
      font-size: 1.15rem;
    }
  }

  h1 {
    font-size: 2.5rem;
    margin: 0;
    font-family: var(--font-family-heading);
  }
}
