body {
  a {
    color: inherit;

    font-weight: 500;
  }

  p {
    margin: 0;
    font-weight: 400;

    &.larger {
      font-size: 1.15rem;
    }
  }

  h1 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 700;
    font-family: var(--font-family-heading);
  }
}
