<footer class="cont footer">
<div class="inner">
<div class="c-4">

<div class="footer__line"></div>

<div class="footer__texts">
<p>Brusckvallen 2023-2024 &copy;</p>
<p>Hemsidan gjord med kärlek av <a href="#">Fritiof Rusck</a></p>
</div>

</div>
</div>
</footer>
