<nav class="nav" data-expanded data-no-initial-transition>
  <div class="cont">
    <div class="inner">
      <div class="c-2">
        <a class="logo" href="/">
          <p>Brusckvallen</p>
        </a>
      </div>
      <div class="c-2 links">
        <ul>
          <li>
            <a href="/"><p>Hem</p></a>
          </li>
          <li>
            <a href="/stugan"><p>Stugan</p></a>
          </li>
          <li>
            <a href="/omradet"><p>Området</p></a>
          </li>
          <li>
            <a href="/bokning-och-fragor"><p>Bokning &amp; Frågor</p></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
