@use "sass:map";
@use "sass:math";

$spacing-unit: 8px;

@function spacing($pixels...) {
  $res: null;

  @each $pixel in $pixels {
    $res: append($res, $pixel * $spacing-unit);
  }

  @return $res;
}

@function breakpoint($name, $direction) {
  $breakpoints: (
    "desktop": 1100,
    "tablet": 800,
    "phone": 660,
  );

  @if $direction != "up" and $direction != "down" {
    @error 'Direction must be either up or down';
  }

  @if map-has-key($breakpoints, $name) ==false {
    @error 'Breakpoint #{$name} does not exist';
  }

  $size: map.get($breakpoints, $name);

  @if $direction == "up" {
    @return "min-width: #{$size}px";
  } @else {
    @return "max-width: #{$size - 1}px";
  }
}

@mixin break($name, $direction) {
  @media screen and (#{breakpoint($name, $direction)}) {
    @content;
  }
}
