---
import Image from "@/components/ui/Image.astro";
import Koket from "@/images/Koket.ts";
import type { Image as TImage } from "@/types";

interface Props {
  image: TImage;
}

const { image } = Astro.props;
---

<div class="booking__hero__image">
  <Image image={image} />
</div>

<style lang="scss">
  @use "@/styles/vars";

  .booking__hero__image {
    position: relative;
    height: 300px;
    width: 100%;
    margin-bottom: vars.spacing(4);
  }
</style>
