---
import Image from "@/components/ui/Image.astro";
import Koket from "@/images/Koket.ts";
---

<div class="booking__hero__image">
  <Image {...Koket} />
</div>

<style lang="scss">
  @use "@/styles/vars";

  .booking__hero__image {
    position: relative;
    height: 300px;
    width: 100%;
    margin-bottom: vars.spacing(4);
  }
</style>
