<div class="cont cont--spacing home__ask-question">
<div class="inner">

<div class="c-2">
<h1 class="home__ask-question__heading">Har du en fråga?</h1>
<p>Fyll i formuläret här bredvid om du har frågor kring bokning, tillgänglighet, priser eller något annat relaterat till stugan Brusckvallen i Bruksvallarna. Vi återkommer till dig så snart som möjligt med svar!</p>
</div>

<div class="c-2">

<form class="home__ask-question__form">
  <label>Namn:</label>
  <input placeholder="Johan Andersson" />
  <label>E-post:</label>
  <input placeholder="johan.andersson@gmail.com" />
  <label>Medelande:</label>
  <textarea></textarea>
  <button>Skicka medelande</button>
</form>

</div>

</div>
</div>

<style lang="scss">
@import '../../../styles/variables.scss';

.home__ask-question {
  padding-top: spacing(8);
  padding-bottom: spacing(8);
  background-color: var(--background-secondary);
  border-top: 1px solid var(--border-primary);
  border-bottom: 1px solid var(--border-primary);
}

.home__ask-question__heading {
  margin-bottom: spacing(1);
}

.home__ask-question__form {
  margin-top: spacing(1);

  label {
    margin-bottom: spacing(0.5);
  }

  input {
    margin-bottom: spacing(2);
  }

  button {
    padding: spacing(1.5, 3);
    margin-top: spacing(3);
    cursor: pointer;
    border: none;
    background-color: #333;
    font-size: 1rem;
    font-family: var(--font-family-heading);
    font-weight: 700;
    color: white;
    width: 100%;
  }

  * {
    display: block;
  }
}
</style>
