.home__about-rusck__image-cont {
  position: relative;
  width: 100%;
  height: 400px;
}

.home__about_rusck__text-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.home__about_rusck__header {
  margin-bottom: spacing(1);
}

.home__about_rusck__description {
  margin-bottom: spacing(1.5);
}
