.home__ask-question {
  padding-top: spacing(8);
  padding-bottom: spacing(8);
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.home__ask-question__heading {
  margin-bottom: spacing(1);
}

.home__ask-question__form {
  margin-top: spacing(1);

  label {
    margin-bottom: spacing(0.5);
  }

  input {
    margin-bottom: spacing(2);
  }

  button {
    padding: spacing(1.5, 3);
    margin-top: spacing(3);
    cursor: pointer;
    border: none;
    background-color: #333;
    font-size: 1rem;
    font-family: var(--font-family-heading);
    font-weight: 700;
    color: white;
    width: 100%;
  }

  * {
    display: block;
  }
}
