.home__hero {
  width: 100%;
  height: 95vh;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__hero__image-cont {
  flex: 3;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: spacing(1);

  grid-template-areas:
    "big-image big-image . ."
    "big-image big-image . .";

  width: 100%;
}

.home__hero__image {
  position: relative;
}

.home__hero__text-cont-main {
  padding-top: spacing(4);

  h1 {
    margin-bottom: spacing(0.5);
  }
}

.home__hero__selling-points {
  margin-bottom: spacing(2);
}

.home__hero__buttons {
  display: flex;
  gap: spacing(1);
}

.home__hero__text-cont-secondary {
  padding-top: spacing(5);
}

.home__hero__divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: spacing(8, 0);
}
