---

import Image from "../../ui/Image.astro"

---
<div class="home__hero">
  <div class="home__hero__image-cont">
    <div class="home__hero__image" style="grid-area: big-image">
      <Image
        src="https://brusckvallen.se/wp-content/uploads/2024/05/20240514_011019550_iOS-2048x1365.jpg"
        alt="Alt 1"
      />
    </div>
    <div class="home__hero__image">
      <Image
        src="https://brusckvallen.se/wp-content/uploads/2024/05/20240514_022409940_iOS-2048x1365.jpg"
        alt="Alt 1"
      />
    </div>
    <div class="home__hero__image">
      <Image
        src="https://brusckvallen.se/wp-content/uploads/2024/05/20240514_011951750_iOS-2048x1365.jpg"
        alt="Alt 1"
      />
    </div>
    <div class="home__hero__image">
      <Image
        src="https://brusckvallen.se/wp-content/uploads/2023/12/22-2048x1536.jpg"
        alt="Alt 1"
      />
    </div>
    <div class="home__hero__image">
      <Image
        src="https://brusckvallen.se/wp-content/uploads/2024/05/20240514_021011080_iOS-2-1365x2048.jpg"
        alt="Alt 1"
      />
    </div>
  </div>
  <div class="cont">
    <div class="inner">
      <div class="c-2 home__hero__text-cont-main">
        <h1>Brusckvallen</h1>
        <p class="home__hero__selling-points">
          8 bäddar &bull; 2 badrum &bull; Nybyggt 2023 &bull; Bastu &bull; Eldstad
        </p>
        <div class="home__hero__buttons">
          <a href="/bokning-och-fragor">
            <p class="larger">Bokning</p>
          </a>
          <a href="/bokning-och-fragor">
            <p class="larger">Fler bilder</p>
          </a>
        </div>
      </div>
      <div class="c-2 home__hero__text-cont-secondary">
        <p>
          Upplev lugnet i Brusckvallen – en charmig stuga i hjärtat av Bruksvallarna. Här omges du av storslagen natur, perfekt för både avkoppling och äventyr. Njut av vandring, fiske och magiska kvällar vid brasan. Denna stuga är din perfekta tillflyktsort för en oförglömlig vecka i naturens famn.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="cont">
<div class="inner">
<div class="c-4">

<div class="home__hero__divider"></div>

</div>
</div>
</div>


<style lang="scss">
@import "../../../styles/variables.scss";

.home__hero {
  width: 100%;
  height: 90vh;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__hero__image-cont {
  flex: 3;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: spacing(1);

  grid-template-areas:
    "big-image big-image . ."
    "big-image big-image . .";

  width: 100%;
}

.home__hero__image {
  position: relative;
}

.home__hero__text-cont-main {
  padding-top: spacing(4);

  h1 {
    margin-bottom: spacing(0.5);
  }
}

.home__hero__selling-points {
  margin-bottom: spacing(2);
}

.home__hero__buttons {
  display: flex;
  gap: spacing(1);
}

.home__hero__text-cont-secondary {
  padding-top: spacing(5);
}

.home__hero__divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: spacing(8, 0);
}
</style>
