---
import ImageGallery from "../../ui/ImageGallery.astro";
---
<div class="cont home__omradet__top-area">
  <div class="inner">
    <div class="c-3 home__omradet__main-text">
      <h1 class="home__omradet__header">Området</h1>
      <p class="home__omradet__description">
        Brusckvallen har ett naturnära läge nära Ramundberget och Funäsdalen,
        med längdspåren i Bruksvallarna precis runt hörnet. Här finns fjällen
        alltid nära, oavsett om du vill ge dig ut på äventyr eller bara njuta av
        lugnet i naturen.
      </p>
      <p class="larger">
        <a href="#">Läs mer</a>
      </P>
    </div>
  </div>
</div>
<div class="cont cont--spacing-bottom">
  <div class="inner">
    <div class="c-4 home__omradet__images-cont">
      <ImageGallery type="big-right" images={[
        {
          src: "https://example.com/assets/images/omradet/omradet-1.jpg",
          alt: "omradet"
        },
        {
          src: "https://example.com/assets/images/omradet/omradet-2.jpg",
          alt: "omradet"
        },
        {
          src: "https://example.com/assets/images/omradet/omradet-3.jpg",
          alt: "omradet"
        },
        {
          src: "https://example.com/assets/images/omradet/omradet-4.jpg",
          alt: "omradet"
        },
        {
          src: "https://example.com/assets/images/omradet/omradet-5.jpg",
          alt: "omradet"
        },
      ]} />
      <ImageGallery images={[
        {
          src: "https://example.com/assets/images/omradet/omradet-1.jpg",
          alt: "omradet"
        },
        {
          src: "https://example.com/assets/images/omradet/omradet-2.jpg",
          alt: "omradet"
        },
        {
          src: "https://example.com/assets/images/omradet/omradet-3.jpg",
          alt: "omradet"
        },
        {
          src: "https://example.com/assets/images/omradet/omradet-4.jpg",
          alt: "omradet"
        },
      ]} />
    </div>
  </div>
</div>

<style lang="scss">
@import "../../../styles/variables.scss";

.home__omradet__top-area {
  margin-bottom: spacing(4);
}

.home__omradet__header {
  margin-bottom: spacing(1);
}

.home__omradet__description {
  margin-bottom: spacing(1.5);
}

.home__omradet__main-text {
  display: flex;
  flex-direction: column;
}

.home__omradet__images-cont {
  display: flex;
  flex-direction: column;
  gap: spacing(1);
}
</style>
