@use "@/styles/vars";

.root {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  padding: vars.spacing(4);
  box-sizing: border-box;
  display: flex;
}

.inner {
  width: 100%;
  max-width: 1200px;
  gap: vars.spacing(4);
  margin: 0 auto;
  display: flex;

  >h1 {
    display: none;
  }
}

.main {
  flex: 2;

  >h1 {
    margin-bottom: vars.spacing(2);
  }
}

.aside {
  padding-top: calc(#{vars.spacing(2)} + 48.5px);
  flex: 1;
}

@include vars.break('tablet', "down") {
  .inner {
    flex-direction: column;

    >h1 {
      display: block;
    }
  }

  .main {
    flex: unset;

    >h1 {
      display: none;
    }
  }

  .aside {
    padding-top: 0;
    flex: unset;
  }
}
