<div class="cont cont--spacing-bottom">
<div class="inner">
<div class="c-3">
  <h1>Stugan</h1>
  <p>Stugan is a non-profit accelerator program for aspiring game developers. The program is located in the Swedish countryside and runs for 8 weeks during the summer. The program is free of charge and offers mentorship, housing and food to the participants. The program is funded by donations and sponsors.</p>
</div>
</div>
</div>

<style lang="scss">
@use "@/styles/vars.scss";

h1 {
  margin-bottom: vars.spacing(1);
}

</style>
